@use 'variables' as *;

a {
  text-decoration: none;

  &:link {
    color: $color--reading-text;
  }

  &:visited {
    color: $color--reading-text;
  }
}

main {
  a {
    transition: $transition-time--links;

    &:link,
    &:visited {
      color: $color--links;
      padding-bottom: 2px;
      border-bottom: 1px solid $color--links--border;
    }

    &:hover {
      color: $color--reading-text;
      border-bottom-color: transparent;
    }
  }
}
