@use 'variables' as *;

:root {
  font-size: 16px;
  background: $background-color--root url('../img/black-box-theatre--hunter-college--26-september-2009.jpg') no-repeat fixed 0 0 / cover;
}

body {
  color: $color--reading-text;
  line-height: 1.35;

  font: {
    family: $font-stack--reading-text;
    weight: $thin;
  }
}

main {
  margin: auto;
  width: $width--desktop;

  @media (max-width: $breakpoint--desktop) {
    width: $width--tablet;
  }

  @media (max-width: $breakpoint--tablet) {
    width: $width--mobile;
  }

  @media (max-width: $breakpoint--mobile) {
    width: $width--mobile-small;
    margin-top: ($height--header + $line-height);
  }
}

footer {
  color: $color--reading-text;
  font-size: (.75 * 1rem);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: (1.5 * $line-height);

  a {
    &:link,
    &:visited {
      color: $color--reading-text;
    }

    &:hover {
      cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤟🏽</text></svg>") 0 20, pointer;

      @media (max-width: $breakpoint--tablet) {
        cursor: pointer;
      }
    }
  }

  @media (max-width: $breakpoint--tablet) {
    position: static;
    margin: 0;
    padding: 0 10px;
    width: auto;
  }
}

b,
strong,
th {
  font-weight: $semi-bold;
}

figure {
  display: block;
  width: ($grid-unit + $grid-column);

  a {
    line-height: 0;
  }

  img {
    display: block;
    width: 100%;
  }
}

em,
i {
  font-style: italic;
}

abbr {
  text-decoration: none;
}

p:not(:first-of-type) {
  margin: 1rem 0;
}
