@use 'variables' as *;

:root {
  font-size: 1em;
  background: black url('../img/black-box-theatre--hunter-college--26-september-2009.jpg') no-repeat fixed 0 0 / cover;
}

body {
  color: $color--reading-text;

  font: {
    family: Ringside, sans-serif;
    weight: $thin;
  }
}

main {
  margin: auto;
  width: (12 * $grid-unit);
}
