@use 'variables' as *;

:root {
  font-size: 16px;
  background: $background-color--root url('../img/black-box-theatre--hunter-college--26-september-2009.jpg') no-repeat fixed 0 0 / cover;
}

body {
  color: $color--reading-text;
  line-height: 1rem * 1.4;

  font: {
    family: $font-stack--reading-text;
    weight: $thin;
  }
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: $width--desktop;
  height: 80vh;

  p {
    width: 48%;
    text-align: center;
    font-size: 160%;
    line-height: 1.4;

    @media (max-width: $breakpoint--desktop) {
      width: 57%;
      font-size: 140%;
    }

    @media (max-width: $breakpoint--tablet) {
      width: $width--mobile;
    }
  }

  @media (max-width: $breakpoint--desktop) {
    width: $width--tablet;
  }
}

footer {
  color: $color--reading-text;
  font-size: (.75 * 1rem);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: (1.5 * $line-height);

  a {
    &:link,
    &:visited {
      color: $color--reading-text;
    }

    &:hover {
      cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤟🏽</text></svg>") 0 20, pointer;

      @media (max-width: $breakpoint--tablet) {
        cursor: pointer;
      }
    }
  }

  @media (max-width: $breakpoint--tablet) {
    position: static;
    margin: 0;
    padding: 0 10px;
    width: auto;
  }
}

b,
strong,
th {
  font-weight: $semi-bold;
}

figure {
  img {
    width: 100%;
  }

  figcaption {
    width: 15%;
    height: (.875 * $line-height);
    margin: -2px auto 0;
    padding: 4px 12px;
    background-color: $background-color--header;
    color: $color--caption;
    font-size: (.875 * 1rem);
    line-height: (.875 * $line-height);
    text-align: center;
  }
}
