@use 'variables' as *;

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: $height--header;
  background-color: $background-color--header--non-home-page;
  color: $color--reading-text;

  .header-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: $width--desktop;

    h1 {
      padding-top: (2 * $line-height);

      @media (max-width: $breakpoint--tablet) {
        padding-top: 0;
        background-color: $background-color--header--home-page;
        line-height: $height--header--mobile;
        text-align: center;
      }
    }

    @media (max-width: $breakpoint--desktop) {
      width: $width--tablet;
    }

    @media (max-width: $breakpoint--tablet) {
      display: block;
      width: auto;
      height: ($height--header + $line-height);
    }
  }

  @media (max-width: $breakpoint--tablet) {
    background-color: transparent;
  }
}
