@use 'variables' as *;

header {
  color: $color--reading-text;
  background-color: $background-color--header;
  height: $height--header;

  .header-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: $width--desktop;

    h1 {
      padding-top: (2 * $line-height);
    }

    @media (max-width: $breakpoint--desktop) {
      width: $width--tablet;
    }
  }
}
