@use 'variables' as *;

.header-container {
  #nav--desktop {
    margin-top: $line-height;

    a {
      display: inline-block;
      width: $grid-unit;
      height: $height--header--mobile;
      text-align: center;
      background-color: $background-color--anchors--nav;
      color: $color--reading-text;
      transition: $transition-time--links;

      &:hover {
        background-color: transparent;
      }
    }

    ul {
      display: flex;
      list-style-type: none;

      li {
        height: $height--nav--li;
        line-height: $height--header--mobile;
        width: $grid-unit;
        transition: $transition-time--links;
      }
    }

    @media (max-width: $breakpoint--tablet) {
      margin: 0 auto;
      width: $width--mobile;
    }

    @media (max-width: $breakpoint--mobile) {
      display: none;
    }
  }

  #nav--mobile {
    display: none;
    margin: 0 auto;
    width: $width--drop-down-menu;
    height: $height--drop-down-menu-item;

    a {
      display: block;
      width: $width--drop-down-menu-item;
      line-height: $height--drop-down-menu-item;
      background-color: $background-color--anchors--nav;
      color: $color--reading-text;
      text: {
        align: center;
        decoration: none;
      }

      &:hover {
        background-color: transparent;
      }
    }

    > ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;

      > li {
        position: relative;
        flex-grow: 1;
        margin: 0;
        //background-color: $background-color--nav;
        width: $width--drop-down-menu-item;

        &:hover {
          > ul {
            visibility: visible;
          }
        }

        > ul {
          position: absolute;
          left: 0;
          visibility: hidden;

          a {
            line-height: $height--drop-down-menu-item--li;
          }
        }
      }
    }

    @media (max-width: $breakpoint--mobile) {
      display: block;
    }
  }
}
