@use 'variables' as *;

.header-container {
  nav {
    a {
      text-align: center;
      color: $color--reading-text;
      transition: $transition-time--links;
    }
  }

  #nav--desktop {
    margin-top: $line-height;

    a {
      display: inline-block;
      width: $grid-unit;
      height: $height--header--mobile;
      background-color: $background-color--anchors--nav;

      &:hover {
        background-color: transparent;
      }
    }

    ul {
      display: flex;

      li {
        width: $grid-unit;
        height: $height--nav--li;
        line-height: $height--header--mobile;
        transition: $transition-time--links;
      }
    }

    .current {
      background-color: transparent;

      a {
        background-color: transparent;
      }
    }

    @media (max-width: $breakpoint--tablet) {
      margin: 0 auto;
      width: $width--mobile;
    }

    @media (max-width: $breakpoint--mobile) {
      display: none;
    }
  }

  #nav--mobile {
    display: none;
    margin: 0 auto;
    width: $width--drop-down-menu;
    height: $height--drop-down-menu-item;

    a {
      display: block;
      width: $width--drop-down-menu;
      line-height: $height--drop-down-menu-item;
      background-color: $background-color--anchors--nav--mobile;

      &:hover {
        background-color: $background-color--anchors--nav--tap;
      }
    }

    > ul {
      display: flex;

      > li {
        position: relative;
        margin: 0;
        width: $width--drop-down-menu;

        &:hover {
          > ul {
            visibility: visible;
          }
        }

        > ul {
          position: absolute;
          left: 0;
          visibility: hidden;

          a {
            line-height: $height--drop-down-menu-item;
          }
        }
      }
    }

    @media (max-width: $breakpoint--mobile) {
      display: block;
    }
  }
}
