@use 'sass:math';

////
/// Sass Variables
////

///
/// Grid
///
$grid-column: 60px;
$grid-gutter: math.div($grid-column, 3);
$grid-unit: $grid-column + $grid-gutter;

///
/// Colors
///
$background-color--header: #f5f4f4;
$color--reading-text: rgb(230, 230, 230);
$color--tertiary: #aeaeae;
$color--secondary: #bc1c1c1e;
$color--border: #d8d8d8;
$color--caption: #666;

///
/// Dimensions
///
$line-height: 20px;
$height--header: (5 * $line-height);

///
/// Font Weights
///
$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

///
/// Transition Times
///
$transition-time--links: 375ms;
