@use 'sass:math';
@use 'sass:color';

////
/// Sass Variables
////

///
/// Grid
///
$grid-column: 60px;
$grid-gutter: math.div($grid-column, 3);
$grid-unit: $grid-column + $grid-gutter;

///
/// Breakpoints
///
$breakpoint--desktop: (12.8 * $grid-unit);
$breakpoint--tablet: (10 * $grid-unit);
$breakpoint--mobile: (5.5 * $grid-unit);

///
/// Widths
///
$width--desktop: (12 * $grid-unit);
$width--tablet: (8.75 * $grid-unit);
$width--mobile: (5 * $grid-unit);
$width--drop-down-menu: (2 * $grid-unit);

///
/// Heights
///
$line-height: 20px;
$height--header: (5 * $line-height);
$height--header--mobile: (3 * $line-height);
$height--nav--li: (4 * $line-height);
$height--drop-down-menu-item: (3 * $line-height);

///
/// Font Stacks
///
$font-stack--reading-text: Ringside, sans-serif;

///
/// Font Weights
///
$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

///
/// Colors
///
$color--reading-text: rgb(230, 230, 230);
$color--caption: rgb(102, 102, 102);
$color--tertiary: rgb(174, 174, 174);
$background-color--root: rgb(0, 0, 0);
$background-color--header: rgba(221, 221, 221, .07);
$background-color--anchors--nav: transparentize($color--caption, .73);
$background-color--anchors--nav--mobile: transparentize($background-color--root, .20);
$background-color--anchors--nav--tap: rgb(139, 0, 0);

///
/// Transition Times
///
$transition-time--links: 375ms;
