@use 'variables' as *;

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;

  p {
    width: 48%;
    text-align: center;
    font-size: 160%;
    line-height: 1.4;

    @media (max-width: $breakpoint--desktop) {
      width: 57%;
      font-size: 140%;
    }

    @media (max-width: $breakpoint--tablet) {
      width: $width--mobile;
    }

    @media (max-width: $breakpoint--mobile) {
      font-size: 1rem;
      padding: 0 20px;
    }
  }

  @media (max-width: $breakpoint--tablet) {
    width: auto;
    height: 81vh;
  }
}
